.App {
  background-color: darkgrey;
  margin: 40px;
}

h1 {
  text-align: center;
}
html {
  background-color: darkgrey;
}

.house {
  background-color: rgb(59, 59, 109);
  margin: 0.5rem, 1rem;
  padding: 0.5rem 1rem;
  display: block;
  margin: 40px;
}
